In [1]:
import sqlite3
from sqlite3 import Error
import pandas as pd
from sklearn.model_selection import train_test_split
import time
from sklearn.externals import joblib
import Recommenders as Recommenders
import numpy as np

# Connect to Database
#### Retrieve data from database and store the data in pandas dataframes
##### Metadata table in database is stored in df_metadate
##### Subsetplaycount table in database is stored in df_playcount

In [2]:
conn = sqlite3.connect(r"C:\Users\David\musicrec\msdb.db")
df_metadata = pd.read_sql_query("SELECT * FROM metadata",conn)
df_playcount = pd.read_sql_query("SELECT * FROM subsetplaycount",conn)
conn.close()
p= pd.read_csv(r"c:\users\david\597project\metadata.csv")

FileNotFoundError: File b'c:\\users\\david\\597project\\metadata.csv' does not exist

#### len() indicate the number of rows in the dataframe

In [3]:
len(df_metadata)

10000

In [4]:
len(df_playcount)

772661

### head() function display the first 5 rows in the dataframe and attributes

In [5]:
df_metadata.head()

,song_id,title,artist_id,artist_name
0,SOVLGJY12A8C13FBED,Deep Sea Creature,ARMQHX71187B9890D3,Mastodon
1,SOGDQZK12A8C13F37C,No Quieras Marcharte,AR2PT4M1187FB55B1A,Los Chichos
2,SODMVJR12A6D4F985D,If I...,ARDI88R1187B98DAB2,Foxy Brown
3,SOIWBDR12A8C13A4AC,Werther - Lyric Drama in four Acts/Act I/Alors...,ARUKJUP12086C14589,Ramón Vargas;Vladimir Jurowski
4,SOHCCIA12AC907577F,Ad Te Clamamus Exsvles Mortva Liberi,ARZEWUR1187FB53DC8,Enthroned

In [6]:
df_playcount.head()

                                    user_id             song_id  listen_time
0  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOWEZSI12A81C21CE6            1
1  4bd88bfb25263a75bbdd467e74018f4ae570e5df  SODCXXY12AB0187452            2
2  4bd88bfb25263a75bbdd467e74018f4ae570e5df  SOWPAXV12A67ADA046           18
3  b64cdd1a0bd907e5e00b39e345194768e330d652  SOLXDDC12A6701FBFD            1
4  b64cdd1a0bd907e5e00b39e345194768e330d652  SONJBQX12A6D4F8382            4

### Merge both dataframes into one dataframe  on 'song_id' attributes

In [7]:
df_merge = pd.merge(df_playcount, df_metadata.drop_duplicates(['song_id']), on='song_id', how='left')

### df_merge include the user_id who have listen to each songs as well as the listen_time each user listen to a song

In [8]:
len(df_merge)

772661

In [9]:
df_merge.head()

,user_id,song_id,listen_time,title,artist_id,artist_name
0,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOWEZSI12A81C21CE6,1,Tu Quieres Volver,AR2UQQ51187B9AC816,Gipsy Kings
1,4bd88bfb25263a75bbdd467e74018f4ae570e5df,SODCXXY12AB0187452,2,Freaxxx,ARXLMH011C8A415658,brokeNCYDE
2,4bd88bfb25263a75bbdd467e74018f4ae570e5df,SOWPAXV12A67ADA046,18,Push It,ARUQ6301187FB54EBA,Salt-N-Pepa
3,b64cdd1a0bd907e5e00b39e345194768e330d652,SOLXDDC12A6701FBFD,1,I'm Back,ARTH9041187FB43E1F,Eminem
4,b64cdd1a0bd907e5e00b39e345194768e330d652,SONJBQX12A6D4F8382,4,Da Funk,ARF8HTQ1187B9AE693,Daft Punk

## Concatenate the 'title' and 'artist_name' columns into one column:'song'

In [10]:
df_merge['song']=df_merge['title'].map(str)+ "-"+df_merge['artist_name']

### Group the items in df_merge by 'song' column to aggregate the 'listen_time' column to count all listening activity by all users for each song

In [11]:
song_grouped = df_merge.groupby(['song']).agg({'listen_time': 'count'}).reset_index()

### Create a percentage column to disply the listen_time in percentage

In [12]:
grouped_sum = song_grouped['listen_time'].sum()
song_grouped['percentage']=song_grouped['listen_time'].div(grouped_sum)*100

### sort the dataframe by the highest listen_time

In [13]:
sort_songs = song_grouped.sort_values(['listen_time','song'], ascending=[0,1])

In [14]:
sort_songs.head(10)

,song,listen_time,percentage
2161,Nothin' On You [feat. Bruno Mars] (Album Versi...,30117,3.897828
2911,Supermassive Black Hole (Album Version)-Muse,28286,3.660855
1284,Hips Don't Lie (featuring Wyclef Jean)-Shakira...,16128,2.087332
611,Crawling (Album Version)-Linkin Park,14729,1.906269
769,Don't Panic-Coldplay,11610,1.502599
162,Angie (1993 Digital Remaster)-The Rolling Stones,11027,1.427146
615,Crazy-Aerosmith,10371,1.342245
233,Baby Boy [feat. Beyonce]-Sean Paul,8797,1.138533
487,Check On It-Beyoncé feat. Slim Thug,8516,1.102165
14,15 Step-Radiohead,7765,1.004969

### Gather all unique users and songs in the dataframe

In [15]:
users = df_merge['user_id'].unique()
songs = df_merge['song'].unique()

### Create a train_data and test_data using the train_test_split function from scikit-learn

In [17]:
train_data, test_data = train_test_split(df_merge, test_size=.20, random_state=0)

### Create instance of the popluarity recommender system and make recommendation for a user

In [17]:
pm = Recommenders.popularity_rec()

In [18]:
pm.create(train_data,'user_id','song')

In [19]:
user_id = users[4]

### Recommendation in the popularity models is not personalize, so the recommendation is a general recommendation based on trending songs

In [21]:
pm.recommend(user_id)

      Rank                                               song  score
2125   1.0  Nothin' On You [feat. Bruno Mars] (Album Versi...  24214
2862   2.0       Supermassive Black Hole (Album Version)-Muse  22700
1262   3.0  Hips Don't Lie (featuring Wyclef Jean)-Shakira...  12863
599    4.0               Crawling (Album Version)-Linkin Park  11732
753    5.0                               Don't Panic-Coldplay   9290
157    6.0   Angie (1993 Digital Remaster)-The Rolling Stones   8778
602    7.0                                    Crazy-Aerosmith   8232
228    8.0                 Baby Boy [feat. Beyonce]-Sean Paul   7052
477    9.0                Check On It-Beyoncé feat. Slim Thug   6752
14    10.0                                  15 Step-Radiohead   6193

# Collaborative Filtering Recommendation
### create an instance of the collaborative model

In [18]:
cr_model = Recommenders.collab_rec()
cr_model.create(train_data, 'user_id', 'song_id','title', 'artist_name')

### Get user_id and retrieve all songs listen by user

In [19]:
user_id = users[5]
user_items = cr_model.get_user_songs(user_id)

### All the songs listen by the users disply by the song_id

In [20]:
for user_item in user_items:
    print(user_item)

SOEBCBI12AF72A154F
SOZOEYP12AB0188C9D
SOFKTPP12A8C1385CA
SOUCKDH12A8C138FF5
SOGJPMB12A8C13A9DB

### Make recommendation to user
### Collaborative Filtering offers a personalize recommendation that is based on similar users as the user

In [21]:
cr_model.recommend(user_id)

No. of unique songs for the user: 5
No. of unique songs for the user: 3618

,title,artist_name,song_id,score,rank
0,Killing,The Rapture,SOITFPA12A670201C6,0.016662,1
1,The Devil,The Rapture,SOHOOXT12A67ADA073,0.015070,2
2,One I Love,Coldplay,SOEHTZE12A6310F0F2,0.011560,3
3,Romantic Rights,Death From Above 1979,SOINDRZ12A6701DAF6,0.009191,4
4,You Appearing,M83,SODEIVI12A8C13266D,0.008392,5
5,Driving Home For Christmas,Chris Rea,SODHVES12A6701CE6B,0.008141,6
6,15 Step,Radiohead,SOSQIHH12A8C13370B,0.007994,7
7,Supermassive Black Hole (Album Version),Muse,SOIZLKI12A6D4F7B61,0.007929,8
8,Crawling (Album Version),Linkin Park,SOEKSGJ12A67AE227E,0.007813,9
9,Ragoo,Kings Of Leon,SOZAPQT12A8C142821,0.007410,10

In [ ]:
user_id2= users[10]
user_items = cr_model.get_user_songs(user_id2)
cr_model.recommend(user_id2)

# Content-based Filtering Recommendation
## Content-based filtering recommend item based on other similar items

In [22]:
conn=sqlite3.connect(r'c:\users\david\msdb.db')

In [23]:
df_songmbtags= pd.read_sql_query('SELECT * FROM song_mbtag',conn)
conn.close()

### Connect to database to retrieve mbtag table, mbtag contains genre terms for a song, and store the data in a dataframe: df_songmbtags

In [24]:
df_songmbtags.head()

,field1,song_id,mbtag,song
0,0,SOVLGJY12A8C13FBED,alternative metal american groove metal heavy ...,Deep Sea Creature-Mastodon
1,1,SOEFTHD12A8C13EC47,alternative metal american groove metal heavy ...,Megalodon-Mastodon
2,2,SOHHANU12A58A77C66,alternative metal american groove metal heavy ...,The Czar: Usurper/Escape/Martyr/Spiral (Album ...
3,3,SODYZIU12A8C13FBD9,alternative metal american groove metal heavy ...,Shadows That Move-Mastodon
4,4,SODPNJR12A6D4FA52D,brazilian brazilian classics player south amer...,Segredo-João Gilberto

### Remove irrelevent columns

In [25]:
df = df_songmbtags.drop(['song_id','field1'], axis=1)

In [26]:
df.set_index('song', inplace=True)

In [29]:
df.head(22)

                                                                                                mbtag
song
Deep Sea Creature-Mastodon                          alternative metal american groove metal heavy ...
Megalodon-Mastodon                                  alternative metal american groove metal heavy ...
The Czar: Usurper/Escape/Martyr/Spiral (Album V...  alternative metal american groove metal heavy ...
Shadows That Move-Mastodon                          alternative metal american groove metal heavy ...
Segredo-João Gilberto                               brazilian brazilian classics player south amer...
Cordeiro De Nana-João Gilberto / Gilberto Gil /...  brazilian brazilian classics player south amer...
Meditacao-João Gilberto                             brazilian brazilian classics player south amer...
Eu E Meu Coracao-João Gilberto                      brazilian brazilian classics player south amer...
Samba De Una Nota So´-Joa~o Gilberto                brazilian brazilian classics player south amer...
Manhã de Carnaval (Morning of the Carnaval) (Ca...  brazilian brazilian classics player south amer...
Sajana (Ft Faheem Mazhar)-Niraj Chag                                                             desi
Eeshwar-Niraj Chag                                                                               desi
The Carnival  feat. Japjit Kaur-Niraj Chag                                                       desi
Theresa-Portable                                                                        south african
Don't Give Up-Portable                                                                  south african
Story Of An Artist (Don't Be Scared)-Daniel Joh...                              dance and electronica
Desperate Man Blues-Daniel Johnston                                             dance and electronica
Rock Around The Christmas Tree-Daniel Johnston                                  dance and electronica
Come To Me Tonight-Daniel Johnston                                              dance and electronica
To Go Home-Daniel Johnston                                                      dance and electronica
Oh No-Daniel Johnston                                                           dance and electronica
High Horse-Daniel Johnston                                                      dance and electronica

In [ ]:
### Create an instance of the content_rec

In [43]:
cb_model = Recommenders.content_rec()

In [44]:
cb_model.create(df)

In [45]:
song = songs[10]

In [46]:
song

'Unforgettable Season-Cut Copy'

### Recommend songs similar to the song

In [47]:
cb_model.recommend(song)

                                                song
0                                  It Is Us-Mudhoney
1  Beneath The Valley Of The Underdog (Album Vers...
2                               New Meaning-Mudhoney
3              The Money Will Roll Right In-Mudhoney
4      Between Me & You Kid (Album Version)-Mudhoney
5  All The Rage (Clean Album Version)-Funeral For...
6                 Juneau [Live]-Funeral For A Friend
7                When Tomorrow Hits (Album)-Mudhoney
8               Been There All The Time-Dinosaur Jr.
9                                         Tic-Helmet